body {
   background-color: #444444;
   color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
   background: linear-gradient(rgb(44, 42, 42), black);
   background-color: rgb(44, 42, 42);
   color: rgb(151, 226, 151);
   padding: 20px; font-size: 16pt;
}

.xd:hover {
   background: rgba(196, 196, 196, 0.199);
}

.xd:active {
   font-size: 25px;
   font-weight: bold;
   color: white;
}

footer {
   padding: 25px;
   text-align: right;
   font-style: italic;
   padding: 25px;
   text-align: right;
   font-style: italic;
   position: fixed;
   bottom: 0px;
   left: 0;
   right: 0;
}

main {
   margin-left: 15px;
}

a {
   color: bisque;
   font-size: 15px;
   font-style: italic;
   text-decoration: none;
}

a:active {
   color: aliceblue;
}

a:hover {
   font-weight: bolder;
   text-shadow: rgb(235, 227, 227) 0px 0px 10px ;
}

h1 {
   text-align: center;
}

h2 {
   text-align: center;
   font-weight: 100;
}

img {
   display: flex;
   margin: auto;
   margin-top: 20px;
   height: 500px;
   width: 700px;
}

.p {
   display: flex;
   margin: auto;
   text-align: center;
   padding-top: 15px;
   width: 900px;

}

.error {
   color: rgb(182, 45, 45);
   font-size: 13px;
   font-weight: bolder;
}

form {
   margin: auto; 
   text-align: center;
   padding-top: 15px;
   width: 900px;
}

.ot {
   margin-top: 7px;
}

.er{
   margin-bottom: 15px;
}
button {
   margin-top: 17px;
   width: 130px;
   height: 30px;
   background-color: aqua;
}