{%extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
<a href="/lab2">Назад</a>
<h1>5 Удивительных пейзажей</h1>
<div style="padding-top: 10px;">
   <div>
      <h2>Волна, Аризона, США</h2>
      <img  src="/static/lr2_1.jpeg">
   </div>
   <div class="p">
      Волна — скала из песчаника на границе штатов Аризона и Юта, США.
       Известна среди туристов и фотографов своими красочными волнообразными формами.
        250 миллионов лет назад здесь были песчаные дюны, перемещавшиеся под влиянием сезонных ветров.
   </div>
</div>

<div style="padding-top: 30px;">
   <div>
      <h2>Солончак Уюни, Боливия</h2>
      <img  src="/static/lr2_2.jpeg">
   </div>
   <div class="p">
      Солончак Уюни — высохшее соленое озеро на юге пустынной равнины Альтиплано, Боливия. Внутренняя его часть покрыта слоем поваренной соли толщиной 2-8 метров. Во время сезона дождей солончак покрывается тонким слоем воды и превращается в самую большую в мире зеркальную поверхность.
   </div>
</div>

<div style="padding-top: 30px;">
   <div>
      <h2>Гейзер Флай, Невада, США</h2>
      <img  src="/static/lr2_3.jpeg">
   </div>
   <div class="p">
      Флай — искусственный гейзер, расположенный на северо-западе Невады. Он появился благодаря вмешательству людей: в 1916 году в этих местах пробурили скважину для колодца, но случайно пробили геотермальный карман. В 1964 году кипящая вода начала проникать на поверхность, создавая из растворяющихся в воде минералов необычный ландшафт.
   </div>
</div>

<div style="padding-top: 30px;">
   <div>
      <h2>Парк Хитачи Сисайд, Япония</h2>
      <img  src="/static/lr2_4.jpeg">
   </div>
   <div class="p">
      Национальный парк Хитачи Сисайд на востоке Японии - удивительный пример ландшафтного дизайна. Он известен красочной сменой времен года: весна, лето, осень и зима здесь имеют собственные цветочные покровы. К концу весны в парке расцветают миллионы американских незабудок.
   </div>
</div>

<div style="padding-top: 30px; padding-bottom: 60px;">
   <div>
      <h2>Красный пляж, Паньцзинь, Китай</h2>
      <img  src="/static/lr2_5.jpeg">
   </div>
   <div class="p">
      Пляж под городом Паньцзинь знаменит на весь мир своим необычным красным цветом. Дело в том, что берег реки Ляохэ усеян морскими водорослями. С апреля по май они привычного зеленого цвета и лишь к сентябрю, отмирая, постепенно становятся ярко-красными.
   </div>
</div>

{% endblock %}