{%extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

   <h1>Заказ напитка</h1>

   <form action="/lab3/pay">
      <div>Напиток:</div>


      <div class="er">
      <label>
         <input type="radio" value="cofee" name="drink" checked>кофe<sup>120&#8381;</sup>
      </label>
      <label>
         <input type="radio" value="black-tea" name="drink" checked>чёрный чай<sup>80&#8381;</sup>
      </label>
      <label>
         <input type="radio" value="green-tea" name="drink" checked>зелёный чай<sup>70&#8381;</sup>
      </label>
      </div>

      <div>Добавки:</div>
      <label>
         <input type="checkbox" name="milk">молоко<sup>30&#8381;</sup>
      </label>
      <label>
         <input type="checkbox" name="sugar">сахар<sup>10&#8381;</sup>
      </label>

      <div>
         <button type="submit">Заказать</button>
      </div>
   </form>



{% endblock %}